# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Demo/Log4CPPConsole/Debug/*.ilk
/Demo/Log4CPPConsole/Debug/*.pdb
/Demo/Log4CPPConsole/ipch
/Demo/Log4CPPConsole/Debug/Log4CPPConsole.ilk
/Demo/Log4CPPConsole/Log4CPPConsole/Debug
/Demo/Log4CPPConsole/Debug
/Demo/Log4CPPConsole/Log4CPPConsole.sdf
/Demo/Log4CPPConsole/Log4CPPConsole.opensdf
/Demo/Log4CPPConsole/Log4CPPConsole.sdf
/Demo/Log4CPPConsole/Log4CPPConsole.opensdf
/Demo/Log4CPPConsole/Log4CPPConsole/ReadMe.txt
